body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#landing-page-video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 3%;
  padding-bottom: 3%;
}

#center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App{
  background-color: #f8f5f2;
}

/* LOG IN */
#loginDiv {
  background-color: #f8f5f2;
  /* opacity: 0.8; */
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#signInHeader{
  text-align: center;
  justify-items: center;
  /* font-weight: bold; */

}

/* SIGN UP DIV */
#signUpDiv {
  background-color: #f8f5f2;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#laura-info {
  float: left;
  margin-left: 25%;
}

#kevin-info {
  float: right;
  margin-right: 25%;
}

#about-app {
  display: flex;
  align-items: center;
  justify-content: center;
}

#landingPageDiv {
  height: 100vh;
}